{% extends "layout.html" %}

{% block title %}
Climbing
{% endblock %}


{% block nav %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/climbing">Climbing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/running">Running</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/reading">Reading</a>
    </li>
</ul>
{% endblock %}


{% block main %}
<br>

<div class="container-md">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#climbingModal">
        Click here if you just fired a rig, big dawg
    </button>

    <!-- Modal -->
    <form action="/climbing" method="post">
        <div class="modal fade" id="climbingModal" tabindex="-1" aria-labelledby="climbingModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="climbingModalLabel">Climbing Log</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="my-3">
                            <h3>Add an Ascent</h3>
                        </div>
                        <div class="my-3 col-auto">
                            <label for="name">Route name</label>
                            <br>
                            <input class="form-control" name="name" autocomplete="off" autofocus type="text"
                                placeholder="Route Name" required>
                        </div>
                        <div class="my-3 col-auto">
                            <label for="grade">Route Grade</label>
                            <br>
                            <select class="form-select" name="grade" id="grade" required>
                                <option value="" disabled selected>Select grade</option>
                                <optgroup label="YDS">
                                    <option value="5.12a">5.12a</option>
                                    <option value="5.12b">5.12b</option>
                                    <option value="5.12c">5.12c</option>
                                    <option value="5.12d">5.12d</option>
                                    <option value="5.13a">5.13a</option>
                                    <option value="5.13b">5.13b</option>
                                    <option value="5.13c">5.13c</option>
                                    <option value="5.13d">5.13d</option>
                                </optgroup>
                                <optgroup label="V-Scale">
                                    <option value="V7">V7</option>
                                    <option value="V8">V8</option>
                                    <option value="V9">V9</option>
                                    <option value="V10">V10</option>
                                    <option value="V11">V11</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="my-3 col-auto">
                            <label for="date">Date</label>
                            <br>
                            <input class="form-control" name="date" placeholder="YYYY-DD-MM" type="date" required>
                        </div>
                        <div class="my-3 col-auto">
                            <label for="location">Location</label>
                            <br>
                            <input class="form-control" name="location" type="text" placeholder="Location" required>
                        </div>
                        <div class="my-3 col-auto">
                            <label>Type of climbing</label>
                            <br>
                            <input name="type" type="radio" id="sport" value="Sport" required>
                            <label for="sport">Sport</label>
                            <br>
                            <input name="type" type="radio" id="bouldering" value="Bouldering" required>
                            <label for="bouldering">Bouldering</label>
                            <br>
                            <input name="type" type="radio" id="trad" value="Trad" required>
                            <label for="trad">Trad</label>
                        </div>
                        <div class="my-3 col-auto">
                            <label for="comment">Additional comments: </label>
                            <br>
                            <input class="form-control" autocomplete="off" name="comment" placeholder="Comments">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>

    <!-- Progress section-->
    <div class="row my-4">
        <h1>Climbing Progress</h1>
    </div>
    <div class="my-3">
        <div class="progress col">
            <div class="progress-bar progress-bar-striped progress-bar-animated {{ climbProgressColor }}"
                role="progressbar" aria-label="Climbing progress" style="width: {{ toclimbgoal }}%"
                aria-valuenow="{{ toclimbgoal }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <br>
    <div class="row my-4 d-flex flex-wrap align-items-center">
        <div class="col-2 text-center">
            <img src={{ ayy }} height="30" width="30">
        </div>
        <div class="col-4">
            <h3 class="text-start">5.13a ascent</h3>
        </div>
        <div class="col-2 text-center">
            <img src={{ bee }} height="30" width="30">
        </div>
        <div class="col-4">
            <h3 class="text-start">5.13b ascent</h3>
        </div>
    </div>

    <br>

    <!-- Table section-->
    <div class="row my-4">
        <h2>Log</h2>
    </div>
    <div class="row my-4">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Route Name</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                {% if not climbs %}
                <tr class="text-center align-middle">
                    <td colspan="8">
                        <p><em>Nothing to see here, move along.</em></p>
                    </td>
                </tr>
                {% else %}
                {% for rows in climbs %}
                <tr class="text-center">
                    <td>{{ rows.name }}</td>
                    <td>{{ rows.grade }}</td>
                    <td>{{ rows.date }}</td>
                    <td>{{ rows.location }}</td>
                    <td>{{ rows.type }}</td>
                    <td>{{ rows.comment }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}