{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block nav %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Login</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<br>
<br>
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username"
            type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3 text-center">
        <button class="form-control mx-auto w-auto btn btn-primary" type="submit">Log In</button>
    </div>
</form>
{% endblock %}